{% extends 'baseAdmin.html.twig' %}

{% block title %}Matches{% endblock %}

{% block body %}
    <h1>Matches</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Team1</th>
            <th>Team2</th>
            <th>MatchRes</th>
            <th>MatchCom</th>
            <th>MatchDate</th>
            <th>MatchTime</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.team1 }}</td>
                <td>{{ match.team2 }}</td>
                <td>{{ match.matchRes }}</td>
                <td>{{ match.matchCom }}</td>
                <td>{{ match.matchDate ? match.matchDate|date('Y-m-d') : '' }}</td>
                <td>{{ match.matchTime ? match.matchTime|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_matches_show', {'id': match.id}) }}">show</a>
                    <a href="{{ path('app_matches_edit', {'id': match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matches_new') }}">Create new</a>
{% endblock %}
