{% extends 'baseAdmin.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}

    <h1 class="pt-3" style="text-align:center;">Articles and Tutos</h1>
    <center class="container py-3">
    <table class="table text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Article Title</th>
                <th>Article Content</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.articleid }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.category.title }}</td>
                <td>
                    <a href="{{ path('app_articles_show', {'articleid': article.articleid}) }}" class="font-weight-bold mr-1">Show</a>
                    <a href="{{ path('app_articles_edit', {'articleid': article.articleid}) }}" class="font-weight-bold ml-1">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation mt-5" style="display: flex; align-items: center; justify-content: center;">
        {{ knp_pagination_render(articles) }}
    </div>
    
    <a href="{{ path('app_articles_new') }}" class="font-weight-bold">Create new</a>
    </center>
{% endblock %}
