{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Articles index</h1>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
      
        {% for article in articles %}
          {% if article.accept== 1%}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.content }}</td>
                <td>
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
             

        </tbody>
    </table>
    
    <a href="{{ path('app_articles_new') }}">Create new</a>
                <center>
                    <a href="{{ path('app_profile', {'email': app.user.username}) }}" class="btn btn-primary btn-lg my-10">Profile</a>
                </center>
{% endblock %}
