{% extends 'baseAdmin.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

    <h1 class="pt-3" style="text-align:center;">Article Details</h1>

    <center class="container py-3">

        <table class="table text-center">
            <tbody>
                <tr>
                    <th>Article ID</th>
                    <td>{{ article.articleid }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ article.category.title }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ article.content }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ article.title }}</td>
                </tr>                
            </tbody>
        </table>

        <div class="font-weight-bold m-5">

            <a href="{{ path('app_articles_index') }}" class="mx-2">Back to list</a>
            <a href="{{ path('app_articles_edit', {'articleid': article.articleid}) }}" class="px-5">Edit</a>
            {{ include('articles/_delete_form.html.twig') }}
            
        </div>
    </center>
    
{% endblock %}
