{{ form_start(form) }}
    <center class="container py-3">

        {{ form_widget(form) }}

    </center>

    <div style="text-align:center;">

        <button class="btn btn-success m-3">{{ button_label|default('Save') }}</button> 
        <a href="{{ path('app_info_index') }}" class="font-weight-bold">Back to list</a>
        
    </div>
{{ form_end(form) }}
